@use './variables/colors' as c;
@use './variables/fonts' as f;
@use './variables/mixins' as m;

.container-section {
	overflow: hidden;
	max-width: 100vw;
	min-height: 300px;
	gap: 50px;
	padding: 60px 40px;
	background-color: c.$light-grey;
	justify-content: center;
	align-content: center;

	.container-animation {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.container-xp {
		max-width: 500px;
		justify-self: center;
		align-self: center;

		p {
			@include m.phrase-style;

			span {
				color: c.$yellow-contrast;
				font-size: 5rem;
			}
		}
	}

	.container-sobre {
		justify-items: start;
		margin-left: 100px;
		max-width: 600px;
		padding-right: 5px;

		.sobre-titulo {
			@include m.phrase-style();
			font-style: italic;
			font-weight: 800;
			font-size: 2rem;
			margin-bottom: 20px;
			span {
				color: c.$yellow-contrast;
			}
		}

		.descricao {
			font-family: f.$primary-font;
			font-size: 0.9rem;
			color: c.$ice-white;
		}
	}
}

/* RESPONSIVINESS */

@media (max-width: 900px) {
	.container-section {
		padding: 100px 80px;
		.container-animation {
			grid-template-columns: 1fr;
		}

		.container-xp {
			max-width: min-content;
			p {
				font-size: 3rem;

				span {
					font-size: 6rem;
				}
			}
		}

		.container-sobre {
			display: grid;
			max-width: 800px;
			margin: 0 auto;
			margin-top: 12rem;
			justify-items: start;

			.sobre-titulo {
				font-size: 2.2rem;
			}

			.descricao {
				font-size: 1.1rem;
			}
		}
	}

	.container-services {
		flex-direction: column;
		justify-self: center;
	}
}
