@use './variables/colors' as c;
@use './variables/fonts' as f;

header {
	display: flex;
	justify-content: space-between;
	background-color: c.$dark-grey;
	align-content: center;
	height: 80px;

	.containerLogo {
		display: flex;
		width: fit-content;
		align-items: center;
		margin-left: 15px;

		span {
			font-family: f.$secondary-font;
			font-weight: 400;
			font-size: 1.4rem;
			margin-left: -5px;
			margin-top: 10px;
			color: c.$yellow-contrast;
		}
	}

	.containerNav {
		display: flex;
		align-items: center;
		gap: 45px;
		margin-right: 25px;
	}

	li {
		cursor: pointer;
		font-family: f.$primary-font;
		color: c.$ice-white;
		font-size: 0.9rem;
	}
}
